In [10]:
from datetime import *
import re
import pandas as pd
import numpy as np
print(datetime.now())

2019-11-12 10:28:35.725396

In [69]:
colnames = ['userId', 'val_Id', 'value', 'tStamp']
dfpic = pd.read_csv('users_pics.csv', sep=',', header=None, names = colnames)
dfpic

                               userId val_Id         value         tStamp
0   Ud23427619a8d0de9734e993431a4fab3  國會議事堂  1.176341e-26  1573553869951
1   Ud23427619a8d0de9734e993431a4fab3  富士電視台  2.356129e-33  1573553869951
2   Ud23427619a8d0de9734e993431a4fab3    晴空塔  0.000000e+00  1573553869951
3   Ud23427619a8d0de9734e993431a4fab3   東京車站  1.000000e+00  1573553869951
4   Ud23427619a8d0de9734e993431a4fab3   東京都廳  0.000000e+00  1573553869951
..                                ...    ...           ...            ...
72  U1194a948587fe16ef5f7f7a2741f6764    晴空塔  0.000000e+00  1573558219280
73  U1194a948587fe16ef5f7f7a2741f6764   東京車站  1.000000e+00  1573558219280
74  U1194a948587fe16ef5f7f7a2741f6764   東京都廳  0.000000e+00  1573558219280
75  U1194a948587fe16ef5f7f7a2741f6764   東京鐵塔  0.000000e+00  1573558219280
76  U1194a948587fe16ef5f7f7a2741f6764   淺草雷門  0.000000e+00  1573558219280

[77 rows x 4 columns]

In [104]:
#piclist = dfpic.loc[dfpic.loc[(dfpic['userId']=='U1194a948587fe16ef5f7f7a2741f6764')]['tStamp'].idxmax()]['value']
dfpiclist = dfpic.loc[(dfpic['userId']=='U1194a948587fe16ef5f7f7a2741f6764')]
print(dfpiclist)
lastTStamp = dfpiclist.loc[(dfpiclist['userId']=='U1194a948587fe16ef5f7f7a2741f6764')]['tStamp'].max()
print(lastTStamp)
dfLastTStamp = dfpiclist[(dfpiclist['tStamp']==lastTStamp)]
print(dfLastTStamp)
maxVal = dfLastTStamp['value'].max()*100
maxKey = dfLastTStamp.loc[dfLastTStamp['value'].idxmax()]['val_Id']
print(maxVal,maxKey)
picRecText='看來旅人您上傳的照片最像'+maxKey+'呢!準確度='+str(maxVal)+'%阿!'
print(picRecText)

                               userId val_Id         value         tStamp
42  U1194a948587fe16ef5f7f7a2741f6764  國會議事堂  4.396769e-05  1573557883703
43  U1194a948587fe16ef5f7f7a2741f6764  富士電視台  9.999422e-01  1573557883703
44  U1194a948587fe16ef5f7f7a2741f6764    晴空塔  1.405520e-06  1573557883703
45  U1194a948587fe16ef5f7f7a2741f6764   東京車站  2.834087e-09  1573557883703
46  U1194a948587fe16ef5f7f7a2741f6764   東京都廳  1.102724e-05  1573557883703
47  U1194a948587fe16ef5f7f7a2741f6764   東京鐵塔  1.436449e-06  1573557883703
48  U1194a948587fe16ef5f7f7a2741f6764   淺草雷門  2.886096e-09  1573557883703
56  U1194a948587fe16ef5f7f7a2741f6764  國會議事堂  9.999982e-01  1573558081705
57  U1194a948587fe16ef5f7f7a2741f6764  富士電視台  1.342973e-08  1573558081705
58  U1194a948587fe16ef5f7f7a2741f6764    晴空塔  5.319196e-11  1573558081705
59  U1194a948587fe16ef5f7f7a2741f6764   東京車站  1.656294e-09  1573558081705
60  U1194a948587fe16ef5f7f7a2741f6764   東京都廳  1.833584e-06  1573558081705
61  U1194a948587fe16ef5f7f7a2741f6764   東京鐵塔  3.819804e-10  1573558081705
62  U1194a948587fe16ef5f7f7a2741f6764   淺草雷門  2.153477e-08  1573558081705
63  U1194a948587fe16ef5f7f7a2741f6764  國會議事堂  0.000000e+00  1573558120438
64  U1194a948587fe16ef5f7f7a2741f6764  富士電視台  0.000000e+00  1573558120438
65  U1194a948587fe16ef5f7f7a2741f6764    晴空塔  0.000000e+00  1573558120438
66  U1194a948587fe16ef5f7f7a2741f6764   東京車站  0.000000e+00  1573558120438
67  U1194a948587fe16ef5f7f7a2741f6764   東京都廳  0.000000e+00  1573558120438
68  U1194a948587fe16ef5f7f7a2741f6764   東京鐵塔  1.000000e+00  1573558120438
69  U1194a948587fe16ef5f7f7a2741f6764   淺草雷門  0.000000e+00  1573558120438
70  U1194a948587fe16ef5f7f7a2741f6764  國會議事堂  4.968759e-27  1573558219280
71  U1194a948587fe16ef5f7f7a2741f6764  富士電視台  0.000000e+00  1573558219280
72  U1194a948587fe16ef5f7f7a2741f6764    晴空塔  0.000000e+00  1573558219280
73  U1194a948587fe16ef5f7f7a2741f6764   東京車站  1.000000e+00  1573558219280
74  U1194a948587fe16ef5f7f7a2741f6764   東京都廳  0.000000e+00  1573558219280
75  U1194a948587fe16ef5f7f7a2741f6764   東京鐵塔  0.000000e+00  1573558219280
76  U1194a948587fe16ef5f7f7a2741f6764   淺草雷門  0.000000e+00  1573558219280
1573558219280
                               userId val_Id         value         tStamp
70  U1194a948587fe16ef5f7f7a2741f6764  國會議事堂  4.968759e-27  1573558219280
71  U1194a948587fe16ef5f7f7a2741f6764  富士電視台  0.000000e+00  1573558219280
72  U1194a948587fe16ef5f7f7a2741f6764    晴空塔  0.000000e+00  1573558219280
73  U1194a948587fe16ef5f7f7a2741f6764   東京車站  1.000000e+00  1573558219280
74  U1194a948587fe16ef5f7f7a2741f6764   東京都廳  0.000000e+00  1573558219280
75  U1194a948587fe16ef5f7f7a2741f6764   東京鐵塔  0.000000e+00  1573558219280
76  U1194a948587fe16ef5f7f7a2741f6764   淺草雷門  0.000000e+00  1573558219280
100.0 東京車站
看來旅人您上傳的照片最像東京車站呢!準確度=100.0%阿!

In [58]:
np.finfo(1.1763412159226085e-26).max

1.7976931348623157e+308

In [3]:
str(date.today()+timedelta(days=365))

'2020-10-28'

In [4]:
date.today()

datetime.date(2019, 10, 29)

In [5]:
from random import *
randint(2,10)

9

In [8]:
mt = '::123::1234::12345'
if mt == re.findall('^\:{2}\d+\:{2}\d+\:{2}\d+$', mt)[0]:
    print(mt)
else:
    print('not match!')

::123::1234::12345

In [9]:
mt.split('::')[2]

'1234'

In [10]:
mt.split('::')[1]

'123'

In [11]:
mt.split('::')[3]

'12345'

In [8]:
li=[1,2,3,4,5]
len(li)

5

In [9]:
rest='r'
rest1='r1'
li.insert(1,rest)
li

[1, 'r', 2, 3, 4, 5]

In [10]:
li.insert(-1,rest1)
li

[1, 'r', 2, 3, 4, 'r1', 5]